.my-table {
  width: 70vw; /* el ancho de la tabla será del 70% del viewport */
  margin-left: 15vw; /* el margen izquierdo será del 15% del viewport */
}
.my-total {
  width: 70vw; /* el ancho de la tabla será del 70% del viewport */
  margin-left: 15vw; /* el margen izquierdo será del 15% del viewport */
}
